user = vmail
password = {{mysql_vmail_password}}
hosts = 127.0.0.1
dbname = vmail
query = SELECT DISTINCT concat(destination_username, '@', destination_domain) AS destinations 
	FROM aliases
	WHERE (source_username = '%u' AND enabled = 1 
	       OR (source_username IS NULL AND enabled = 1 
	           AND NOT EXISTS (SELECT id FROM aliases 
	                           WHERE source_username = '%u' AND enabled = 1))
	       OR (source_domain IS NULL AND enabled = 1 
	           AND NOT EXISTS (SELECT id FROM aliases 
	                           WHERE source_username = '%u' 
	                           AND source_domain = '%d' 
	                           AND enabled = 1))) 
	  AND (source_domain = '%d' OR source_domain IS NULL) 
	  AND enabled = true
	  AND NOT EXISTS (SELECT id FROM accounts 
	                  WHERE username = '%u' 
	                  AND domain = '%d' 
	                  AND enabled = 1);
