imap_host = "{{inventory_hostname_short}}.{{domain}}"
imap_port = 143
imap_secure = "TLS"
imap_short_login = Off
sieve_use = On
sieve_allow_raw = Off
sieve_host = "{{inventory_hostname_short}}.{{domain}}"
sieve_port = 4190
sieve_secure = "TLS"
smtp_host = "{{inventory_hostname_short}}.{{domain}}"
smtp_port = 587
smtp_secure = "TLS"
smtp_short_login = Off
smtp_auth = On
smtp_php_mail = Off
white_list = ""
